<footer class="footer">
  <div class="footer-padre">
    <div class="sobre-nosotros-container">
      <h2 style="text-align:center" class="detail-title">CERVELAND</h2>
      

      <p class="sobrenos-texto">Somos un equipo de gente apasionada por la cerveza, cuya meta es brindar todos los
        elementos necesarios para que los estusiastas de esta gran bebida puedan elaborarla en sus propios hogares.</p>
  
      <div class="sobrenos-iconos">
        <div class="icon-footer">
          <a href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjM0MDgwNTM1LCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D" target="_blank">
          <i class="fab fa-facebook" style="color:#FFFFFF"></i></a>
        </div>
  
        <div class="icon-footer">
         <a href="https://www.instagram.com/?hl=es" target="_blank"><i class="fab fa-instagram" style="color:#FFFFFF"></i></a>
        </div>
        
        <div class="icon-footer">
          <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter" style="color:#FFFFFF"></i></a>
        </div>
      </div>


     

    </div>

    <div class="subscribite-container">
      <h2 style="text-align:center" class="suscribite-titulo">SUSCRIBITE</h2>

      <br>
      <div class="form-content">
        <i class="fas fa-user"></i>
        <input class="form-inputs" type="text" name="userName" placeholder="User name" required>
      </div>
  
      <div class="form-content">
        <i class="fas fa-envelope"></i>
        <input class="form-inputs" type="email" name="userEmail" placeholder="E-mail" required>
      </div>
  
      <div class="buttons-footer">
        <button class="button-sobrenos" type="submit">Suscribirme</button>
      </div>

    </div>

    <div class="contacto-container">
      <h2 style="text-align:center">CONTACTO</h2>

      <p>Av. Corrientes 4050</p>
      <p>(011) 4795-5678</p>
      <p>cerveland.insumos@gmail.com</p>
  
      <div class="buttons-footer">
        <button class="button-sobrenos" onclick="location.href='mail' + 'to: cerveland.insumos'+ '@' + 'gmail'+'.'+'com';">Contactanos</button>
      </div>
    </div>

  </div>
  <p style="font-size: 10px; margin-top: 20px; text-align: center;">COPYRIGHT2021 <i class="far fa-copyright"></i> CERVELAND - INSUMOS
    CERVECEROS</p>
</footer>