<header>
    <div class="main-header-container">

      <div>
        <img src="/images/Cerveland-Logo.jpeg" class="logo" alt="Cargando logo" />
      </div>


      <nav class="main-nav-bar">
        <ul>
          <li><a href="#">CURSOS |</a></li>
          <li><a href="#">INSUMOS |</a></li>
          <li><a href="#">EQUIPAMIENTO</a></li>
        </ul>
      </nav>

      <div class="icons-nav-bar">
        <button class="button-nav-bar"><i class="fas fa-search"></i></button>
        <button class="button-nav-bar"><i class="far fa-user"></i></button>
        <button class="button-nav-bar"><i class="fas fa-shopping-cart"></i></button>
      </div>

    </div>
  </header>