<header>
    <div class="main-header-container">

      <div>
        <img src="/images/logoFinal.png"class="logo" alt="Cargando logo" />
      </div>

      <nav class="main-nav-bar">
        <ul>
          <li><a href="/product">PRODUCTOS</a></li>

        </ul>
      </nav>

      <div class="icons-nav-bar">
        <a href="/register">
          <button class="button-nav-bar"><i class="far fa-user"></i></button>
        </a>
        <button class="button-nav-bar"><i class="fas fa-shopping-cart"></i></button>
      </div>

    </div> 
</header>