<header>
    <div class="main-header-container">
  

      <div>
        <img src="/images/logoFinal.png"class="logo" alt="Cargando logo"/>
    
      </div>

      <div>
      <nav class="main-nav-bar">
        <ul>
          <li><a href="/product">Nuestros productos | </a></li> 

          <li><a href="/register">Inicia sesión | </a></li>
          
          <li><a href="/register">Registrate</a></li>
        </ul>
      </nav>
   </div>
    </div> 
</header>