<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-slider"></div>
    <div class="slider" id="slider">
      <ul>
        <li> <img src="/images/produccion_banner.jpg" alt=""> </li>
        <div class="slider__content">
          <h2 class="slider__title"></h2>
          <p class="slider__txt"></p>
          <a href="" class="slider__link"> </a>
        </div>
        <li> <img src="/images/cursos_banner.jpg" alt=""> </li>
        <div class="slider__content">
          <h2 class="slider__title"></h2>
          <p class="slider__txt"></p>
        </div>
        <li> <img src="/images/insumos_banner.jpg" alt=""> </li>
        <div class="slider__content">
          <h2 class="slider__title"></h2>
          <p class="slider__txt"></p>
        </div>
      </ul>
    </div>
    <main class="main">
      <h2 class="main-title">Cursos destacados</h2>
      <section class="container-products">
        <div class="product">
          <img src="images/NIVEL_INICIAL.jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Nivel Inicial</h3>
            <span class="product__price"><a href= '#'>Ver más</a></span>
          </div>
          <i class="product__icon fas fa-shopping-cart"></i>
        </div>
        <div class="product">
          <img src="images/NIVEL_INTERMEDIO.jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Nivel Intermedio</h3>
            <span class="product__price"><a href= '#'>Ver más</a></span>
          </div>
          <i class="product__icon fas fa-shopping-cart"></i>
        </div>
        <div class="product">
          <img src="images/NIVEL_AVANZADO.jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Nivel Avanzado</h3>
            <span class="product__price"><a href= '#'>Ver más</a></span>
          </div>
          <i class="product__icon fas fa-shopping-cart"></i>
        </div>
      </section>
      <h2 class="main-title">Productos destacados</h2>
      <section class="container-products">
        <div class="product">
          <img src="images/levadura.jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Levadura 1kg</h3>
            <span class="product__price">$500.00</span>
          </div>
          <i class="product__icon fas fa-shopping-cart"></i>
        </div>
        <div class="product">
          <img src="images/malta.jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Malta 1kg</h3>
            <span class="product__price">$800.00</span>
          </div>
          <i class="product__icon fas fa-shopping-cart"></i>
        </div>
        <div class="product">
          <img src="images/lupulo_home.jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Lúpulo</h3>
            <span class="product__price">$1200.00</span>
          </div>
          <i class="product__icon fas fa-shopping-cart"></i>
        </div>
        <section class="container-extras">
          <div class="details">
            <div class="extras__description">
              <i class="extras__icon fas fa-shipping-fast"></i>
              <h3 class="extras__title">Envíos a todo el país</h3>
            </div>
          </div>
          <div class="details">
            <div class="extras__description">
              <i class="extras__icon far fa-credit-card"></i>
              <h3 class="extras__title">Medios de pago</h3>
            </div>
          </div>
          <div class="details">
            <div class="extras__description">
              <i class="extras__icon fas fa-store"></i>
              <h3 class="extras__title">Productos de calidad</h3>
            </div>
          </div>
        </section>
    </main> 
</body>
</html>