<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerveland</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="etiqueta-body">
    <header class="main-header">

    </header>

    <main>

        <div class="cart-items">
            <table>
                <tr>
                    <th class="product-name">Producto</th>
                    <th class="product-price">Precio</th>
                    <th class="product-quantity">Cantidad</th>
                    <th class="product-subtotal">Subtotal</th>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="/images/lupulo.jpg" class="foto-producto">
                            <div>
                                <br>
                                <p>lúpulo</p>
                                <a id="eliminar" href="">Eliminar</a>
                            </div>
                        </div>
                    </td>
                    <td>$400</td>
                    <td><input type="number" value="1">
                    <td>$400</td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="/images/lupulo.jpg" class="foto-producto">
                            <div>
                                <br>
                                <p>lúpulo</p>
                                <a id="eliminar"href="">Eliminar</a>
                            </div>
                        </div>
                    </td>
                    <td>$800</td>
                    <td><input type="number" value="2">
                    <td>$800</td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="/images/lupulo.jpg" class="foto-producto">
                            <div>
                                <br>
                                <p>lúpulo</p>
                                <a id="eliminar"href="">Eliminar</a>
                            </div>
                        </div>
                    </td>
                    <td>$2.000</td>
                    <td><input type="number" value="5">
                    <td>$2.000</td>
                </tr>
            </table>
            <tr>
                <div class="botones-compra">
                    <a class="boton-seguir-comprando" href="/">Seguir comprando</a>
                    <a class="boton-actualizar" href="">Actualizar</a>
                </div>
            </tr>
         
            <td>
                <div class="total-price">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>$3.200</td>

            </td>
            </tr>
            <tr>
                <td>Envío</td>
                <td>Calcular Envío</td>
            </tr>
            <tr>
                <td>Descuento</td>
                <td>Aplicar cupón</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$3.200</td>
            </tr>
            <tr>
                <td><a id="finalizar" href="/">Finalizar compra</a></td>
            </tr>
            </table>
        </div>

        </div>


    </main>

    <footer>

    </footer>

</body>

</html>