<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerveland</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="bodyTom">
    <header class="main-header">
        <div class="main-header-container">
    
            <div>
              <img src="/images/Cerveland-Logo.jpeg" class="logo" alt="Cargando logo" />
            </div>
           
      
            <nav class="main-nav-bar">
                <ul>
                  <li><a href="#">CURSOS |</a></li>
                  <li><a href="#">INSUMOS |</a></li>
                  <li><a href="#">EQUIPAMIENTO</a></li>
                </ul>
            </nav>
      
            <div class="icons-nav-bar" >
              <button class="button-nav-bar"><i class="fas fa-search"></i></button>
              <button class="button-nav-bar"><i class="far fa-user"></i></button>
                <button class="button-nav-bar"><i class="fas fa-shopping-cart"></i></button>      
            </div>
      
          </div>
    </header>

    <main>

        <div class="cart-items">
            <table>
                <tr>
                    <th class="product-name">Producto</th>
                    <th class="product-price">Precio</th>
                    <th class="product-quantity">Cantidad</th>
                    <th class="product-subtotal">Subtotal</th>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="/images/lupulo.jpg" class="foto-producto">
                            <div>
                                <br>
                                <p>lúpulo</p>
                                <a id="eliminar" href="">Eliminar</a>
                            </div>
                        </div>
                    </td>
                    <td>$400</td>
                    <td><input type="number" value="1">
                    <td>$400</td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="/images/lupulo.jpg" class="foto-producto">
                            <div>
                                <br>
                                <p>lúpulo</p>
                                <a id="eliminar"href="">Eliminar</a>
                            </div>
                        </div>
                    </td>
                    <td>$800</td>
                    <td><input type="number" value="2">
                    <td>$800</td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="/images/lupulo.jpg" class="foto-producto">
                            <div>
                                <br>
                                <p>lúpulo</p>
                                <a id="eliminar"href="">Eliminar</a>
                            </div>
                        </div>
                    </td>
                    <td>$2.000</td>
                    <td><input type="number" value="5">
                    <td>$2.000</td>
                </tr>
            </table>
            <tr>
                <div class="botones-compra">
                    <a class="boton-seguir-comprando" href="/">Seguir comprando</a>
                    <a class="boton-actualizar" href="">Actualizar</a>
                </div>
            </tr>
         
            <td>
                <div class="total-price">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>$3.200</td>

            </td>
            </tr>
            <tr>
                <td>Envío</td>
                <td>Calcular Envío</td>
            </tr>
            <tr>
                <td>Descuento</td>
                <td>Aplicar cupón</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$3.200</td>
            </tr>
            <tr>
                <td><a id="finalizar" href="/">Finalizar compra</a></td>
            </tr>
            </table>
        </div>

        </div>


    </main>

    <footer class="footer">

        <h2 style="text-align:center" class="detail-title">CERVELAND</h2>
        <p class="sobrenos-texto">Somos un equipo de gente apasionada por la cerveza, cuya meta es brindar todos los elementos necesarios para que los estusiastas de esta gran bebida puedan elaborarla en sus propios hogares.</p>
        
        <div class="sobrenos-iconos">
            <div class="icon-footer">
              <i class="fab fa-facebook" style="color:#FFFFFF"></i>
            </div>       
            <div class="icon-footer">
              <i class="fab fa-instagram" style="color:#FFFFFF"></i>
            </div>
            <div class="icon-footer">
              <i class="fab fa-twitter" style="color:#FFFFFF"></i>
            </div>  
        </div>
        <br>
        <br>
        <br>
        
        <div class="buttons-footer">
            <button  class="button-sobrenos" type="submit">Sobre nosotros</button>
        </div>
        <br>
        <hr class="divisoria">
        <h2 style="text-align:center" class="suscribite-titulo">SUSCRIBITE</h2>
        
        <br>
        <div class="form-content">
            <i class="fas fa-user"></i>
            <input class="form-inputs" type="text" name="userName" placeholder="User name" required>
        </div>
        
        <div class="form-content">
            <i class="fas fa-envelope"></i>
            <input class="form-inputs" type="email" name="userEmail" placeholder="E-mail" required>
        </div>
        
        <div class="buttons-footer">
            <button  class="button-sobrenos" type="submit">Suscribirme</button>
        </div>
        
        <br>
        <hr class="divisoria">
        <h2 style="text-align:center">CONTACTO</h2>
        
        <p>Av. Corrientes 4050</p>
        <p>(011) 4795-5678</p>
        <p>info@cerveland.com.ar</p>
        
        <div class="buttons-footer">
            <button  class="button-sobrenos" type="submit">Contactanos</button>
        </div>
        
        <p style="font-size: 10px; margin-top: 50px;">COPYRIGHT2021  <i class="far fa-copyright"></i> CERVELAND - INSUMOS CERVECEROS</p>
      
        </footer>

</body>

</html>