*{
    box-sizing: border-box;
}





.foto-producto {
    width: 150px;
    height: 150px;
}


































































































































































































