*{
    box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
}


header{
    font-size: 14px;
    background-color: #F9BE51;
}

.logo {
    width: 100px;
}

.main-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.main-nav-bar{
    display: flex;
    justify-content: space-between;
    height: auto;
   
}

.main-nav-bar  ul {
    list-style-type: none;
    color: white;
    display: flex;
}

.main-nav-bar li {
    padding: 2px;
}

.main-nav-bar a {
    text-decoration: none;
    color: #226023;
    display: inline-block;
    font-weight: bold;
}

.icons-nav-bar{
    display: flex;
    justify-content: flex-end;
}

.button-nav-bar{
    padding: 4px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}


/* ESTILOS DE SLIDER */

.container-slider{
    margin-top: 40px;
    position: relative;
    width: 300px;
    height: auto;
    background-size: cover;
    }
.slider {
    margin-top: 10px;    
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 5px 5px;        
  }
.slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 30s infinite normal ease-in;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 600px;
    max-width: 100%;
    object-fit: cover; 
    margin: 0px;
}

@keyframes cambio {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    35% {margin-left: -100%;}
    65% {margin-left: -100%;}
    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}
.slider__section{
    position: relative;
}
.slider__content{
    position: absolute;
    top:50%;
    left: 50%;
    color: white;
    transform: translateX(-50%) translateY(-50%);   
}
.slider__txt{
    text-align: center;
    font-size: 2.2em;
}

/* ESTILOS DE PRODUCTOS */
.container-products{
    display: flex;
    grid-gap: 20px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
}

.product {
    border: 1px solid #FCB941;
    padding: 10px;
    text-align: center;
    position: relative;
}
.product:before{
    content: "Nuevo";
    background: #359223;
    padding: 10px;
    position: absolute;
    width: 60px;
    right: 10px;
    transform: rotate(-90deg);
    color: white;
}
.product__img{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.product__img-top{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}


.product__title{
text-align: center;
}
.product__price{
text-align: center;
color: #FFA605;
font-weight: bold;
}
.product__icon{
    margin: 20px 0;
}
.main-title{
    text-align: center;
}
/* ESTILOS DE EXTRAS */
.container-extras{
    display: flex;
    grid-gap: 20px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.extras__title{
    text-align: center;
    justify-content: center;
}
.details{
    border: none;
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(252,185,65,0.5);
    width: 33%;
}

.extras__icon{
    margin: 20px 0;
    justify-content: center;
}


/* ESTILOS DEL LOGIN */


.bodyLogin {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.h2Login {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: #F9BE51;
    border-radius: 10px;
    width: 100%;
    height: 600px;
}

.form-container {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
}
.form-container-inicioSesion {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
}






.form-inputs {
    margin-bottom: 20px;
    border: none;
    border-bottom: #ffffff 2px solid;
    border-radius: 2px;
    background-color: #F9BE51;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.form-inputs:active {
    border: none;
}

.form-inputs:focus {
    border: none;
}

.form-content {
    height: auto;
    border-radius: 2px;
}

.form-content i {
    font-size: 20px;
    margin-top: 5px;
}

.remember-me {
    font-size: 12px;
    text-align: left;
    margin-left: 43px;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
}

.buttons i{
    margin-right: 4px;
}

.login-button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: white;
    border-radius: 25px;
    border: 0.5px white;
    padding: 6px 20px;
    margin: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
}

.buttons-social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 0;
}

.login-button-social-media {
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
    border: 0.5px white;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.forgot-pass{
text-align: left;
margin-left: 50px;
}

.forgot-pass a {
    margin-top: 15px;
    color: white;
    font-size: 12px;
}


/*ESTILOS DEL CARRITO DE COMPRAS*/


.bodyTom {

    font-family: 'Roboto', sans-serif;
    background-color: #f8cd7d;
}


.main-content{
    margin: auto;
}




.foto-producto {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart-items{
    margin: 30px auto;
    padding-left: 20px;
    padding-right: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}




.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    background-color:#FCB941;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

#eliminar{
    color:rgb(253, 8, 8);
    font-size: 15px;
}

#finalizar{
    color: black;
    font-size: 20px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #FFA605;
    width: 100%;
    max-width: 500px;
}


.botones-compra{
    border-top: 3px solid #FFA605;
    margin: auto;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 29px;
}




/*ESTILOS DEL PRODUCT DETAIL*/

.product-detail{
    background-color: #f9be51ab;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-bottom: 20px;
}

.detail-title{
    margin-top: 9px;
    padding-top: 21px;

}



.foto-ampliada{
    display: block;
    width: 285px;
    height: 285px;
    margin: auto;
   

}

.cantidad{
    font-size: 18px;
    margin-top: 25px;
}

.listita{
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.formulario h2 {
    font-size: 16px;
    color: #226023;
    margin-bottom: 20px;
    margin-left: 20px;
}




.caja-cantidad {
    
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #FFFFFF;
    background-color: #84998a;
    border-color: #84998a;
    text-decoration: none;
}
.edit-button{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: white;
    border-radius: 25px;
    border: 0.5px white;
    padding: 6px 20px;
    margin: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
}
.new-product-button{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #FFA605;
    padding: 6px 20px;
    margin: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    text-decoration: none;
}

.form-control{
    max-width: 50px;
    text-align: center;
}
.divisoria{
    width: 100%;
    height: 5px;
    background-color: #267127;
    border: none;
}
.cuadrado{
    width: 200px;
    height: 235px;
    border: 1px solid #555;
    margin: auto;
    background-color: #09800a3b;
    margin-top: 30px;
}



.prod-relacionado{
    display: block;
    margin: 5px solid red;
    text-align: center;
    
}
.foto-prod-relacionado{
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 24px;
}

.prod-relacionado2{
    font-size: 12px;
    margin-bottom: 3px;   
}

.prod-relacionado-precio{
    font-size: 12px;
    margin-top: 0px;
}

.editar-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
}

/*FOOTER*/

.footer{
    background-color: #F9BE51;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2%;

}

.footer-padre{
  display: flex;
}
.sobrenos-texto{
    max-width: 40%;
    margin: auto;
    text-align: center;
}


.icon-footer{
    padding: 10px;
    margin: 5px;
    background: #267127;
    line-height: 1;
    border-radius: 3px;
    float: left;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttons-footer{
    margin: auto;
}

.sobrenos-iconos{
    display: flex;
    margin:auto;
    text-align: center;
    align-content: center;
    
}

.button-sobrenos{
    margin: auto;
    font-size: 14px;
    border-radius: 10px;
    width: 120px;
    height: 25px;
    border: none;
    margin-top: 4px;
    cursor: pointer;
}
.suscribite-titulo{
    margin-bottom: 0px;
}


.errors{
    color: red
}

.form-content-firstName {
    height: auto;
    border-radius: 2px;
}
