<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="bodyLogin">
    <%- include('../partials/header') %>
    <div>
    <div class="formulario">

        <% if (typeof errors !== 'undefined')
        { %> 
            <ul>
                <% for (let i = 0; i < errors.length; i++) { %>
                    <li> <%= errors[i].msg%>
                    </li> 
                    <% } %>
                </ul>

        <% } %>

        <form  action="/login" method="POST" class="form-container">
            <h2 class="h2Login">Bienvenido !</h2>
            
            <div>
                <div class="form-content">
                    <i class="fas fa-user"></i>
                    <input class="form-inputs" type="text" name="userName" placeholder="User name">
                </div>
        
                <div class="form-content">
                    <i class="fas fa-envelope"></i>
                    <input class="form-inputs" type="email" name="userEmail" placeholder="E-mail">
                </div>
        
                <div class="form-content">
                    <i class="fas fa-lock"></i>
                    <input class="form-inputs" type="password" name="userPassword" placeholder="Password">
                </div>
                <div class="remember-me">
                    <input type="checkbox" name="rememberm-me" value="rememberMe" id="remember-me">
                    <label for="remember-me"> Recordar cuenta</label>
                </div>

                <div class="forgot-pass"><a href="#">Olvid칩 su contrase침a?</a></div>

                <div class="buttons">
                    <button  class="login-button" type="submit"> <i class="fas fa-arrow-right"></i>Login</button>
                </div>
        </form>
    </div>
    <div class="formulario">
        <form  action="/register" method="POST" class="form-container">
            <h2 class="h2Login">Bienvenido !</h2>
            
            <div>
                <div class="form-content">
                    <i class="fas fa-user"></i>
                    <input class="form-inputs" type="text" name="userName" placeholder="User name">
                </div>
        
                <div class="form-content">
                    <i class="fas fa-envelope"></i>
                    <input class="form-inputs" type="email" name="userEmail" placeholder="E-mail">
                </div>
        
                <div class="form-content">
                    <i class="fas fa-lock"></i>
                    <input class="form-inputs" type="password" name="userPassword" placeholder="Password">
                </div>
                <div class="remember-me">
                    <input type="checkbox" name="rememberm-me" value="rememberMe" id="remember-me">
                    <label for="remember-me"> Recordar cuenta</label>
                </div>

                <div class="forgot-pass"><a href="#">Olvid칩 su contrase침a?</a></div>

                <div class="buttons">
                    <button  class="login-button" type="submit"> <i class="fas fa-arrow-right"></i>Sign Up</button>
                </div>
        </form>
                
    </div>

               
    </div>  
    <%- include('../partials/footer') %>
</body>
</html>