<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="main-header-container">
    
          <div>
            <img src="/images/Cerveland-Logo.jpeg" class="logo" alt="Cargando logo" />
          </div>
         
    
          <nav class="main-nav-bar">
              <ul>
                <li><a href="#">CURSOS |</a></li>
                <li><a href="#">INSUMOS |</a></li>
                <li><a href="#">EQUIPAMIENTO</a></li>
              </ul>
          </nav>
    
          <div class="icons-nav-bar" >
            <button class="button-nav-bar"><i class="fas fa-search"></i></button>
            <button class="button-nav-bar"><i class="far fa-user"></i></button>
              <button class="button-nav-bar"><i class="fas fa-shopping-cart"></i></button>      
          </div>
    
        </div>
      </header>
<main class="product-detail">
    <h2 class="detail-title">Malta Munich</h2>
<div>
    <img src="/images/malta munich.jpg" class="foto-ampliada">
</div>

<div>       

    
    <div>
		<form action="" method="POST">
				<h2 class="cantidad">Cantidad</h2>
                <ul type="none" class="listita">
                    <li>
				        <input type="radio" name="presentaciones" id="1 Kg">
				        <label for="1 Kg">1 Kg</label>
                    </li>
                    <br>
                    <li>
				        <input type="radio" name="presentaciones" id="5 Kg">
				        <label for="5 Kg">5 Kg</label>
                    </li>
                    <br>
                    <li>
				        <input type="radio" name="presentaciones" id="25 Kg">
				        <label for="25 Kg">25 Kg</label>
                    </li>
            </ul>
    </div>
<h2>$ 2,390.00</h2>

<div class="caja-cantidad">
    <div>
        <a class="btn" aria-label="Quitar uno" title="Quitar uno" href="#">
            <i class="fa fa-minus"></i>
        </a>
    </div>
    <input type="text" class="form-control" data-min="1" name="add_qty" value="1" title="">
    <div>
        <a class="btn" aria-label="Agregue uno" title="Agregue uno" href="#">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</div>
<br>
<a role="button" id="add_to_cart" class="btn" href="#"
            ><i class="fa fa-shopping-cart"></i> Agregar al carrito</a>

<p>Con un contenido menor de enzimas que la malta Pilsen, la malta Munich se usa para mejorar el cuerpo, color, aroma y sabor de cervezas oscuras.</p>

<hr class="divisoria">



<div class="prod-relacionado">
<h2>Productos relacionados</h2>
<div class="cuadrado">     
    <img src="/images/trigo malteado.jpg" class="foto-prod-relacionado">

<h2 class="prod-relacionado2">Trigo malteado</h2>
<h2 class="prod-relacionado-precio">$ 2,120.00</h2> 
</div>

</main> 
<footer class="footer">

    <h2 style="text-align:center" class="detail-title">CERVELAND</h2>
    <p class="sobrenos-texto">Somos un equipo de gente apasionada por la cerveza, cuya meta es brindar todos los elementos necesarios para que los estusiastas de esta gran bebida puedan elaborarla en sus propios hogares.</p>
    
    <div class="sobrenos-iconos">
        <div class="icon-footer">
          <i class="fab fa-facebook" style="color:#FFFFFF"></i>
        </div>       
        <div class="icon-footer">
          <i class="fab fa-instagram" style="color:#FFFFFF"></i>
        </div>
        <div class="icon-footer">
          <i class="fab fa-twitter" style="color:#FFFFFF"></i>
        </div>  
    </div>
    <br>
    <br>
    <br>
    
    <div class="buttons-footer">
        <button  class="button-sobrenos" type="submit">Sobre nosotros</button>
    </div>
    <br>
    <hr class="divisoria">
    <h2 style="text-align:center" class="suscribite-titulo">SUSCRIBITE</h2>
    
    <br>
    <div class="form-content">
        <i class="fas fa-user"></i>
        <input class="form-inputs" type="text" name="userName" placeholder="User name" required>
    </div>
    
    <div class="form-content">
        <i class="fas fa-envelope"></i>
        <input class="form-inputs" type="email" name="userEmail" placeholder="E-mail" required>
    </div>
    
    <div class="buttons-footer">
        <button  class="button-sobrenos" type="submit">Suscribirme</button>
    </div>
    
    <br>
    <hr class="divisoria">
    <h2 style="text-align:center">CONTACTO</h2>
    
    <p>Av. Corrientes 4050</p>
    <p>(011) 4795-5678</p>
    <p>info@cerveland.com.ar</p>
    
    <div class="buttons-footer">
        <button  class="button-sobrenos" type="submit">Contactanos</button>
    </div>
    
    <p style="font-size: 10px; margin-top: 50px;">COPYRIGHT2021  <i class="far fa-copyright"></i> CERVELAND - INSUMOS CERVECEROS</p>
  
    </footer>


</body>
</html>


