<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>


    <body>
        <%- include('../partials/header') %>
            <main>
                <div>
                    <% for (let i=0; i < products.lenght; i++){ %>
                        <div>
                            <% products[i].productName %>
                        </div>
                        <% } %>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>



</html>